body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
}
.body-dark{
    background-color: #1E1E1E;
    color: white;
}

/* ---------------- intro section ---------------- */

input{  margin:0 0 10px 0;}

#intro{
    display: flex;
    width: 1100px;
    margin: 100px auto;
    justify-content: space-between;
}
#intro .heading { display: flex; color: #00a7e1; flex-direction: column}
#intro h1{ display: flex; font-size: 40px; margin-left: 180px; margin-top: 0; margin-bottom:0;}
#intro h2{ display: flex;  font-size: 30px; align-items: center; margin-right: 15px; margin-bottom: 0;}
#intro p{   font-size: 18px; margin-bottom: 40px; color: black;}
#intro a{
    background-color: #00a7e1;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    transition-duration: 0.3s;
    display: block;
    width: fit-content;
    animation: slide-up 1s;
}
@keyframes slide-up{
    0%{transform: translateY(40px); opacity: 0%;}
    100%{transform: translateY(0px); opacity: 100%;}
}
#intro a:hover{ cursor: pointer; background-color: #454fc1;}
video{
    width: 40%;
    border-radius: 20px;
}

/* ---------------- main section ---------------- */

main{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 100px auto;
    justify-content: space-evenly;
}

main section h2{
    color: #007ea7;
}

.welcome-section h2{
    font-size: 50px;
    text-align: center;
    margin: 10px auto;

}.welcome-section p{
    font-size: 20px;
}

main section p{
    color: black;
}


main section p a{
    background: rgb(0, 167, 225);
    color: #000000;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    transition-duration: 0.3s;
    display: block;
    width: fit-content;
    animation: alternate 1s;
    text-decoration: none;
}

.cta-link{
    margin-left: 20px;
}
