<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../static/styles/style_register_admin.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<title>Admin Registration</title>
	</head>
   
	<body>
	  <div class="container">
		<div class="title">Admin Registration</div>
		<div class="content">
		  <form action="/admin_register" method="POST">
		  
			<div class="user-details">
			
			  <div class="input-box">
				<span class="details">First Name</span>
				<input type="text" name="first_name" placeholder="Enter First Name" required>
			  </div>
			  
			  <div class="input-box">
				<span class="details">Last Name</span>
				<input type="text" name="last_name" placeholder="Enter Last Name" required>
			  </div>
			  
			  <div div class="input-box">
			
				<div class="gender-details">
				  <input type="radio" name="gender" value="Male" id="dot-1">
				  <input type="radio" name="gender" value="Female" id="dot-2">
				  <input type="radio" name="gender" value="Other" id="dot-3">
				  
				  <span class="gender-type">Gender</span>
				  
				  <div class="category">
				  
				  <label for="dot-1">
					<span class="dot one"></span>
					<span class="Male">Male</span>
				  </label>
				  
				  <label for="dot-2">
					<span class="dot two"></span>
					<span class="Female">Female</span>
				  </label>
				  
				  <label for="dot-3">
					<span class="dot three"></span>
					<span class="Other">Other</span>
				  </label>
					
				  </div>
				</div>
			  </div>				
				
			
			  <div class="input-box">
				<span class="details">Date of Birth</span>
				<input type="date" name="dob" placeholder="Enter Date of Birth" required>
			  </div>
			
			  <div class="input-box">
				<span class="details">Email</span>
				<input type="text" name="email" placeholder="Enter Email" required>
			  </div>
			  
			  <div class="input-box">
				<span class="details">Phone Number</span>
				<input type="text" name="phone_no" placeholder="Enter Phone Number" required>
			  </div>

			  <div class="input-box">
				<span class="details">Aadhaar Number</span>
				<input type="number" name="aadhaar_no" placeholder="Enter your password" required>
			  </div>

			  <div class="input-box">
				<span class="details">Confirm Aadhaar Number</span>
				<input type="number" name="confirm_aadhaar_no" placeholder="Enter your password" required>
			  </div>

			  <div class="input-box">
				<span class="details">Password</span>
				<input type="password" name="password" placeholder="Enter your password" required>
			  </div>
			  
			  <div class="input-box">
				<span class="details">Confirm Password</span>
				<input type="password" name="confirm_password" placeholder="Confirm your password" required>
			  </div>
			  
			</div>
		
			<div class="button">
			  <input type="submit" value="Register">
			</div>
			
		  </form>
		</div>
	  </div>
    <script src="../../static/js/script_registration_success.js"></script>
	</body>
</html>