<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="../../../static/styles/form/style_form_student_info.css">
		<link rel="stylesheet" href="../../../static/styles/footer.css">
		<link rel="stylesheet" href="../../../static/styles/nav.css">
    	<link rel="icon" type="image/x-icon" href="../../../static/img/et_logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Registration Form</title>
    </head>

    <body>
        <header>
            <img id="et_logo" src="../../../static/img/et_logo.png" height="50px" width="50px" alt="Edu Tech Logo"/>

            <nav class="main-nav">

                <a href="../../index.html" >Home</a>
                <a href="../../login.html">Login</a>
                <a href="../../register_tnc.html">Register</a>
                <a href="../../support.html">Support & FAQ</a>
                <a href="../../about.html">About</a>
                <a href="../../contact.html">Contact</a>

            </nav>
        </header>
    <main>
        <div class="container">
                <div class="content">
                    <div class="title">Student Registration Form</div>
                    <form action="form_c_5.html" method="post">
                        <fieldset>
                            <legend>Class 1 Information:</legend>
                                <label for="aadhaar_no">Aadhaar Number:</label>
                                <input type="text" id="aadhaar_no" name="aadhaar_no" required><br>

                                <label for="c_5_year">Year:</label>
                                <input type="text" id="c_5_year" name="c_5_year" required><br>

                                <label for="c_5_board">Board:</label>
                                <input type="text" id="c_5_board" name="c_5_board" required><br>

                                <label for="c_5_roll_no">Roll Number:</label>
                                <input type="text" id="c_5_roll_no" name="c_5_roll_no"><br>

                                <label for="c_5_result">Result:</label>
                                <input type="text" id="c_5_result" name="c_5_result"><br>

                                <label for="c_5_name_of_school">Name of School:</label>
                                <input type="text" id="c_5_name_of_school" name="c_5_name_of_school"><br>

                                <div id="subjectFields">

                                <!-- Subject 1 -->
                                <hr>
                                <label for="c_5_sub_1_name">Subject 1 Name:</label>
                                <input type="text" id="c_5_sub_1_name" name="c_5_sub_1_name"><br>
                                <label for="c_5_sub_1_marks_obtained">Subject 1 Marks Obtained:</label>
                                <input type="text" id="c_5_sub_1_marks_obtained" name="c_5_sub_1_marks_obtained"><br>
                                <label for="c_5_sub_1_total_marks">Subject 1 Total Marks:</label>
                                <input type="text" id="c_5_sub_1_total_marks" name="c_5_sub_1_total_marks"><br>

                                <!-- Subject 2 -->
                                <hr>
                                <label for="c_5_sub_2_name">Subject 2 Name:</label>
                                <input type="text" id="c_5_sub_2_name" name="c_5_sub_2_name"><br>
                                <label for="c_5_sub_2_marks_obtained">Subject 2 Marks Obtained:</label>
                                <input type="text" id="c_5_sub_2_marks_obtained" name="c_5_sub_2_marks_obtained"><br>
                                <label for="c_5_sub_2_total_marks">Subject 2 Total Marks:</label>
                                <input type="text" id="c_5_sub_2_total_marks" name="c_5_sub_2_total_marks"><br>

                                <!-- Subject 3 -->
                                <hr>
                                <label for="c_5_sub_3_name">Subject 3 Name:</label>
                                <input type="text" id="c_5_sub_3_name" name="c_5_sub_3_name"><br>
                                <label for="c_5_sub_3_marks_obtained">Subject 3 Marks Obtained:</label>
                                <input type="text" id="c_5_sub_3_marks_obtained" name="c_5_sub_3_marks_obtained"><br>
                                <label for="c_5_sub_3_total_marks">Subject 3 Total Marks:</label>
                                <input type="text" id="c_5_sub_3_total_marks" name="c_5_sub_3_total_marks"><br>

                                <!-- Subject 4 -->
                                <hr>
                                <label for="c_5_sub_4_name">Subject 4 Name:</label>
                                <input type="text" id="c_5_sub_4_name" name="c_5_sub_4_name"><br>
                                <label for="c_5_sub_4_marks_obtained">Subject 4 Marks Obtained:</label>
                                <input type="text" id="c_5_sub_4_marks_obtained" name="c_5_sub_4_marks_obtained"><br>
                                <label for="c_5_sub_4_total_marks">Subject 4 Total Marks:</label>
                                <input type="text" id="c_5_sub_4_total_marks" name="c_5_sub_4_total_marks"><br>

                                <!-- Subject 5 -->
                                <hr>
                                <label for="c_5_sub_5_name">Subject 5 Name:</label>
                                <input type="text" id="c_5_sub_5_name" name="c_5_sub_5_name"><br>
                                <label for="c_5_sub_5_marks_obtained">Subject 5 Marks Obtained:</label>
                                <input type="text" id="c_5_sub_5_marks_obtained" name="c_5_sub_5_marks_obtained"><br>
                                <label for="c_5_sub_5_total_marks">Subject 5 Total Marks:</label>
                                <input type="text" id="c_5_sub_5_total_marks" name="c_5_sub_5_total_marks"><br>


                                <!-- Subject Fields will be added here dynamically -->
                                </div>

                                <button type="button" id="add_sub_btn" onclick="addSubject()">Add Subject</button>
                        </fieldset>
                        <a href="form_address.html"><button id="prev_btn" type="button" >Previous</button></a>
                        <button id="next_btn" type="submit"> Next</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
		<img src="../../../static/img/smart_india_hackathon_2022_w.png" id="Smart_India_Hackathon_2022_img" alt="Smart India Hackathon 2022 Logo">
			<p>© 2024 Your Website. All Rights Reserved.</p>
			<!-- social links, Digital India , help, and support info -->
            <div class="footer-social">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/yourwebsite" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com/yourwebsite" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/yourwebsite" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/yourwebsite" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <ul>
                    <li><a href="mailto:help@iep.com">Email - help@iep.com </a></li>
                    <li><a href="tel:1234567890">Help Line No. - 1234567890</a></li>
                    <li><a href="https://www.digitalindia.gov.in" target="_blank">Digital India</a></li>
                </ul>
            </div>
		<img src="../../../static/img/digital_india_logo.png" id="Digital_India_img" alt="Digital India Logo">
    </footer>

    <script src="../../../static/js/forms/script_c_5.js"></script>
</body>
</html>
