
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="../../../static/styles/form/style_form_student_info.css">
		<link rel="stylesheet" href="../../../static/styles/footer.css">
		<link rel="stylesheet" href="../../../static/styles/nav.css">
    	<link rel="icon" type="image/x-icon" href="../../../static/img/et_logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Registration Form</title>
    </head>

    <body>
        <header>
            <img id="et_logo" src="../../../static/img/et_logo.png" alt="Edu Tech Logo"/>

            <nav class="main-nav">

                <a href="../../index.html" >Home</a>
                <a href="../../login.html">Login</a>
                <a href="../../register_tnc.html">Register</a>
                <a href="../../support.html">Support & FAQ</a>
                <a href="../../about.html">About</a>
                <a href="../../contact.html">Contact</a>

            </nav>
        </header>
        <main>
            <div class="container">
                <div>
                    <div class="content">
                        <div class="title">Student Registration Form</div>
                        <form action="/form_c_1" method="POST">
                            <fieldset>
                                <legend>UG Information:</legend>
                                <form action="/form_ug_details" method="POST">
                                    <label for="aadhaar_no">Aadhaar Number:</label>
                                    <input type="text" id="aadhaar_no" name="aadhaar_no" value="{{ ug_details.aadhaar_no }}"><br>

                                    <label for="ug_enrollment_no">UG Enrollment Number:</label>
                                    <input type="text" id="ug_enrollment_no" name="ug_enrollment_no" value="{{ ug_details.ug_enrollment_no }}"><br>

                                    <label for="ug_admission_year">UG Admission Year:</label>
                                    <input type="text" id="ug_admission_year" name="ug_admission_year" value="{{ ug_details.ug_admission_year }}"><br>

                                    <label for="ug_state">UG State:</label>
                                    <input type="text" id="ug_state" name="ug_state" value="{{ ug_details.ug_state }}"><br>

                                    <label for="ug_district">UG District:</label>
                                    <input type="text" id="ug_district" name="ug_district" value="{{ ug_details.ug_district }}"><br>

                                    <label for="ug_qualification_">UG Qualification:</label>
                                    <input type="text" id="ug_qualification_" name="ug_qualification_" value="{{ ug_details.ug_qualification_ }}"><br>

                                    <label for="ug_stream">UG Stream:</label>
                                    <input type="text" id="ug_stream" name="ug_stream" value="{{ ug_details.ug_stream }}"><br>

                                    <label for="ug_institute_name">UG Institute Name:</label>
                                    <input type="text" id="ug_institute_name" name="ug_institute_name" value="{{ ug_details.ug_institute_name }}"><br>

                                    <label for="ug_institute_code">UG Institute Code:</label>
                                    <input type="text" id="ug_institute_code" name="ug_institute_code" value="{{ ug_details.ug_institute_code }}"><br>

                                    <label for="ug_board_university">UG Board University:</label>
                                    <input type="text" id="ug_board_university" name="ug_board_university" value="{{ ug_details.ug_board_university }}"><br>

                                    <label for="ug_course_name">UG Course Name:</label>
                                    <input type="text" id="ug_course_name" name="ug_course_name" value="{{ ug_details.ug_course_name }}"><br>

                                    <label for="ug_course_duration">UG Course Duration:</label>
                                    <input type="text" id="ug_course_duration" name="ug_course_duration" value="{{ ug_details.ug_course_duration }}"><br>

                                    <label for="ug_year_of_study">UG Year of Study:</label>
                                    <input type="text" id="ug_year_of_study" name="ug_year_of_study" value="{{ ug_details.ug_year_of_study }}"><br>

                                    <label for="ug_year_1_status">UG Year 1 Status:</label>
                                    <input type="text" id="ug_year_1_status" name="ug_year_1_status" value="{{ ug_details.ug_year_1_status }}"><br>

                                    <label for="ug_year_1_admission">UG Year 1 Admission:</label>
                                    <input type="text" id="ug_year_1_admission" name="ug_year_1_admission" value="{{ ug_details.ug_year_1_admission }}"><br>

                                    <label for="ug_sem_1_status">UG Semester 1 Status:</label>
                                    <input type="text" id="ug_sem_1_status" name="ug_sem_1_status" value="{{ ug_details.ug_sem_1_status }}"><br>

                                    <label for="ug_sem_1_session">UG Semester 1 Session:</label>
                                    <input type="text" id="ug_sem_1_session" name="ug_sem_1_session" value="{{ ug_details.ug_sem_1_session }}"><br>

                                    <label for="ug_sem_1_roll_no">UG Semester 1 Roll Number:</label>
                                    <input type="text" id="ug_sem_1_roll_no" name="ug_sem_1_roll_no" value="{{ ug_details.ug_sem_1_roll_no }}"><br>

                                    <label for="ug_sem_2_status">UG Semester 2 Status:</label>
                                    <input type="text" id="ug_sem_2_status" name="ug_sem_2_status" value="{{ ug_details.ug_sem_2_status }}"><br>

                                    <label for="ug_sem_2_session">UG Semester 2 Session:</label>
                                    <input type="text" id="ug_sem_2_session" name="ug_sem_2_session" value="{{ ug_details.ug_sem_2_session }}"><br>

                                    <label for="ug_sem_2_roll_no">UG Semester 2 Roll Number:</label>
                                    <input type="text" id="ug_sem_2_roll_no" name="ug_sem_2_roll_no" value="{{ ug_details.ug_sem_2_roll_no }}"><br>

                                    <label for="ug_year_2_status">UG Year 2 Status:</label>
                                    <input type="text" id="ug_year_2_status" name="ug_year_2_status" value="{{ ug_details.ug_year_2_status }}"><br>

                                    <label for="ug_year_2_admission">UG Year 2 Admission:</label>
                                    <input type="text" id="ug_year_2_admission" name="ug_year_2_admission" value="{{ ug_details.ug_year_2_admission }}"><br>

                                    <label for="ug_sem_3_status">UG Semester 3 Status:</label>
                                    <input type="text" id="ug_sem_3_status" name="ug_sem_3_status" value="{{ ug_details.ug_sem_3_status }}"><br>

                                    <label for="ug_sem_3_session">UG Semester 3 Session:</label>
                                    <input type="text" id="ug_sem_3_session" name="ug_sem_3_session" value="{{ ug_details.ug_sem_3_session }}"><br>

                                    <label for="ug_sem_3_roll_no">UG Semester 3 Roll Number:</label>
                                    <input type="text" id="ug_sem_3_roll_no" name="ug_sem_3_roll_no" value="{{ ug_details.ug_sem_3_roll_no }}"><br>

                                    <label for="ug_sem_4_status">UG Semester 4 Status:</label>
                                    <input type="text" id="ug_sem_4_status" name="ug_sem_4_status" value="{{ ug_details.ug_sem_4_status }}"><br>

                                    <label for="ug_sem_4_session">UG Semester 4 Session:</label>
                                    <input type="text" id="ug_sem_4_session" name="ug_sem_4_session" value="{{ ug_details.ug_sem_4_session }}"><br>

                                    <label for="ug_sem_4_roll_no">UG Semester 4 Roll Number:</label>
                                    <input type="text" id="ug_sem_4_roll_no" name="ug_sem_4_roll_no" value="{{ ug_details.ug_sem_4_roll_no }}"><br>

                                    <label for="ug_year_3_status">UG Year 3 Status:</label>
                                    <input type="text" id="ug_year_3_status" name="ug_year_3_status" value="{{ ug_details.ug_year_3_status }}"><br>

                                    <label for="ug_year_3_admission">UG Year 3 Admission:</label>
                                    <input type="text" id="ug_year_3_admission" name="ug_year_3_admission" value="{{ ug_details.ug_year_3_admission }}"><br>

                                    <label for="ug_sem_5_status">UG Semester 5 Status:</label>
                                    <input type="text" id="ug_sem_5_status" name="ug_sem_5_status" value="{{ ug_details.ug_sem_5_status }}"><br>

                                    <label for="ug_sem_5_session">UG Semester 5 Session:</label>
                                    <input type="text" id="ug_sem_5_session" name="ug_sem_5_session" value="{{ ug_details.ug_sem_5_session }}"><br>

                                    <label for="ug_sem_5_roll_no">UG Semester 5 Roll Number:</label>
                                    <input type="text" id="ug_sem_5_roll_no" name="ug_sem_5_roll_no" value="{{ ug_details.ug_sem_5_roll_no }}"><br>

                                    <label for="ug_sem_6_status">UG Semester 6 Status:</label>
                                    <input type="text" id="ug_sem_6_status" name="ug_sem_6_status" value="{{ ug_details.ug_sem_6_status }}"><br>

                                    <label for="ug_sem_6_session">UG Semester 6 Session:</label>
                                    <input type="text" id="ug_sem_6_session" name="ug_sem_6_session" value="{{ ug_details.ug_sem_6_session }}"><br>

                                    <label for="ug_sem_6_roll_no">UG Semester 6 Roll Number:</label>
                                    <input type="text" id="ug_sem_6_roll_no" name="ug_sem_6_roll_no" value="{{ ug_details.ug_sem_6_roll_no }}"><br>

                                    <label for="ug_year_4_status">UG Year 4 Status:</label>
                                    <input type="text" id="ug_year_4_status" name="ug_year_4_status" value="{{ ug_details.ug_year_4_status }}"><br>

                                    <label for="ug_year_4_admission">UG Year 4 Admission:</label>
                                    <input type="text" id="ug_year_4_admission" name="ug_year_4_admission" value="{{ ug_details.ug_year_4_admission }}"><br>

                                    <label for="ug_sem_7_status">UG Semester 7 Status:</label>
                                    <input type="text" id="ug_sem_7_status" name="ug_sem_7_status" value="{{ ug_details.ug_sem_7_status }}"><br>

                                    <label for="ug_sem_7_session">UG Semester 7 Session:</label>
                                    <input type="text" id="ug_sem_7_session" name="ug_sem_7_session" value="{{ ug_details.ug_sem_7_session }}"><br>

                                    <label for="ug_sem_7_roll_no">UG Semester 7 Roll Number:</label>
                                    <input type="text" id="ug_sem_7_roll_no" name="ug_sem_7_roll_no" value="{{ ug_details.ug_sem_7_roll_no }}"><br>

                                    <label for="ug_sem_8_status">UG Semester 8 Status:</label>
                                    <input type="text" id="ug_sem_8_status" name="ug_sem_8_status" value="{{ ug_details.ug_sem_8_status }}"><br>

                                    <label for="ug_sem_8_session">UG Semester 8 Session:</label>
                                    <input type="text" id="ug_sem_8_session" name="ug_sem_8_session" value="{{ ug_details.ug_sem_8_session }}"><br>

                                    <label for="ug_sem_8_roll_no">UG Semester 8 Roll Number:</label>
                                    <input type="text" id="ug_sem_8_roll_no" name="ug_sem_8_roll_no" value="{{ ug_details.ug_sem_8_roll_no }}"><br>

                                    <label for="ug_year_5_status">UG Year 5 Status:</label>
                                    <input type="text" id="ug_year_5_status" name="ug_year_5_status" value="{{ ug_details.ug_year_5_status }}"><br>

                                    <label for="ug_year_5_admission">UG Year 5 Admission:</label>
                                    <input type="text" id="ug_year_5_admission" name="ug_year_5_admission" value="{{ ug_details.ug_year_5_admission }}"><br>

                                    <label for="ug_sem_9_status">UG Semester 9 Status:</label>
                                    <input type="text" id="ug_sem_9_status" name="ug_sem_9_status" value="{{ ug_details.ug_sem_9_status }}"><br>

                                    <label for="ug_sem_9_session">UG Semester 9 Session:</label>
                                    <input type="text" id="ug_sem_9_session" name="ug_sem_9_session" value="{{ ug_details.ug_sem_9_session }}"><br>

                                    <label for="ug_sem_9_roll_no">UG Semester 9 Roll Number:</label>
                                    <input type="text" id="ug_sem_9_roll_no" name="ug_sem_9_roll_no" value="{{ ug_details.ug_sem_9_roll_no }}"><br>

                                    <label for="ug_sem_10_status">UG Semester 10 Status:</label>
                                    <input type="text" id="ug_sem_10_status" name="ug_sem_10_status" value="{{ ug_details.ug_sem_10_status }}"><br>

                                    <label for="ug_sem_10_session">UG Semester 10 Session:</label>
                                    <input type="text" id="ug_sem_10_session" name="ug_sem_10_session" value="{{ ug_details.ug_sem_10_session }}"><br>

                                    <label for="ug_sem_10_roll_no">UG Semester 10 Roll Number:</label>
                                    <input type="text" id="ug_sem_10_roll_no" name="ug_sem_10_roll_no" value="{{ ug_details.ug_sem_10_roll_no }}"><br>

                                <button type="button" id="add_sub_btn" onclick="addSubject()">Add Subject</button>
                            </fieldset>
                            <a href="/form_address"><button id="prev_btn" type="button" >Previous</button></a>
                            <button id="next_btn" type="submit"> Next</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <img src="../../../static/img/smart_india_hackathon_2022_w.png" id="Smart_India_Hackathon_2022_img" alt="Smart India Hackathon 2022 Logo">
                <p>© 2024 Your Website. All Rights Reserved.</p>
                <!-- social links, Digital India , help, and support info -->
                <div class="footer-social">
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/yourwebsite" target="_blank">Facebook</a></li>
                        <li><a href="https://www.twitter.com/yourwebsite" target="_blank">Twitter</a></li>
                        <li><a href="https://www.instagram.com/yourwebsite" target="_blank">Instagram</a></li>
                        <li><a href="https://www.linkedin.com/yourwebsite" target="_blank">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <ul>
                        <li><a href="mailto:help@iep.com">Email - help@iep.com </a></li>
                        <li><a href="tel:1234567890">Help Line No. - 1234567890</a></li>
                        <li><a href="https://www.digitalindia.gov.in" target="_blank">Digital India</a></li>
                    </ul>
                </div>
            <img src="../../../static/img/digital_india_logo.png" id="Digital_India_img" alt="Digital India Logo">
        </footer>

        <script src="../../../static/js/forms/script_c_1.js"></script>
    </body>
</html>