<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="../../../static/styles/form/style_form_student_info.css">
		<link rel="stylesheet" href="../../../static/styles/footer.css">
		<link rel="stylesheet" href="../../../static/styles/nav.css">
    	<link rel="icon" type="image/x-icon" href="../../../static/img/et_logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Registration Form</title>
    </head>

    <body>
        <header>
            <img id="et_logo" src="../../../static/img/et_logo.png" alt="Edu Tech Logo"/>

            <nav class="main-nav">

                <a href="/student_profile">Profile</a>
                <a href="/student_dashboard" id="selected">Dashboard</a>
                <a href="/student_manage">Manage</a>
                <a href="/login">Logout</a>

            </nav>
        </header>
    <main>
        <div class="container">
                <div class="content">
                    <div class="title">Student Registration Form</div>
                    <form action="/form_student_address" method="POST">
                        <fieldset>
                            <legend>Address Information:</legend>

                            <p>
                                <label for="ca_line_1">Current Address Line 1:</label>
                                <input type="text" id="ca_line_1" name="ca_line_1" value="{{ student_info.ca_line_1 }}"><br>
                            </p>
                            <p>
                                <label for="ca_line_2">Current Address Line 2:</label>
                                <input type="text" id="ca_line_2" name="ca_line_2" value="{{ student_info.ca_line_2 }}"><br>
                            </p>
                            <p>
                                <label for="ca_line_3">Current Address Line 3:</label>
                                <input type="text" id="ca_line_3" name="ca_line_3" value="{{ student_info.ca_line_3 }}"><br>
                            </p>
                            <p>
                                <label for="ca_city">Current Address City:</label>
                                <input type="text" id="ca_city" name="ca_city" value="{{ student_info.ca_city }}"><br>
                            </p>
                            <p>
                                <label for="ca_district">Current Address District:</label>
                                <input type="text" id="ca_district" name="ca_district" value="{{ student_info.ca_district }}"><br>
                            </p>
                            <p>
                                <label for="ca_state">Current Address State:</label>
                                <input type="text" id="ca_state" name="ca_state" value="{{ student_info.ca_state }}"><br>
                            </p>
                            <p>
                                <label for="ca_pincode">Current Address Pincode:</label>
                                <input type="text" id="ca_pincode" name="ca_pincode" value="{{ student_info.ca_pincode }}"><br>
                            </p>

                            <p>
                                <input type="checkbox" id="same_as_permanent" name="same_as_permanent">
                                <label for="same_as_permanent">Current Address Same as Permanent</label><br>
                            </p>

                            <p>
                                <label for="pa_line_1">Permanent Address Line 1:</label>
                                <input type="text" id="pa_line_1" name="pa_line_1" value="{{ student_info.pa_line_1 }}"><br>
                            </p>
                            <p>
                                <label for="pa_line_2">Permanent Address Line 2:</label>
                                <input type="text" id="pa_line_2" name="pa_line_2" value="{{ student_info.pa_line_2 }}"><br>
                            </p>
                            <p>
                                <label for="pa_line_3">Permanent Address Line 3:</label>
                                <input type="text" id="pa_line_3" name="pa_line_3" value="{{ student_info.pa_line_3 }}"><br>
                            </p>
                            <p>
                                <label for="pa_city">Permanent Address City:</label>
                                <input type="text" id="pa_city" name="pa_city" value="{{ student_info.pa_city }}"><br>
                            </p>
                            <p>
                                <label for="pa_district">Permanent Address District:</label>
                                <input type="text" id="pa_district" name="pa_district" value="{{ student_info.pa_district }}"><br>
                            </p>
                            <p>
                                <label for="pa_state">Permanent Address State:</label>
                                <input type="text" id="pa_state" name="pa_state" value="{{ student_info.pa_state }}"><br>
                            </p>
                            <p>
                                <label for="pa_pincode">Permanent Address Pincode:</label>
                                <input type="text" id="pa_pincode" name="pa_pincode" value="{{ student_info.pa_pincode }}"><br>
                            </p>

                        </fieldset>
                        <a href="/parents_info"><button id="prev_btn" type="button" >Previous</button></a>
                        <button id="next_btn" type="submit"> Next</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
		<img src="../../../static/img/smart_india_hackathon_2022_w.png" id="Smart_India_Hackathon_2022_img" alt="Smart India Hackathon 2022 Logo">
			<p>© 2024 Your Website. All Rights Reserved.</p>
			<!-- social links, Digital India , help, and support info -->
            <div class="footer-social">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/yourwebsite" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com/yourwebsite" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/yourwebsite" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/yourwebsite" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <ul>
                    <li><a href="mailto:help@iep.com">Email - help@iep.com </a></li>
                    <li><a href="tel:1234567890">Help Line No. - 1234567890</a></li>
                    <li><a href="https://www.digitalindia.gov.in" target="_blank">Digital India</a></li>
                </ul>
            </div>
		<img src="../../../static/img/digital_india_logo.png" id="Digital_India_img" alt="Digital India Logo">
    </footer>

    <script src="../../../static/js/forms/script_form_student_info.js"></script>
</body>
</html>
