<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>Password Reset</title>
		<link rel="stylesheet" href="../static/styles/style_password_reset.css">
		<link rel="stylesheet" href="../static/styles/footer.css">
		<link rel="stylesheet" href="../static/styles/nav.css">
    	<link rel="icon" type="image/x-icon" href="../static/img/et_logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

    <header>
        <img id="et_logo" src="../static/img/et_logo.png" height="50px" width="50px" alt="Edu Tech Logo"/>

        <nav class="main-nav">

            <a href="/" >Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/support">Support & FAQ</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>

        </nav>
    </header>
		<main>
			<h1 id="pr_h1">Password Reset</h1>
			<div class="container">
				<div class="title">Password Reset</div>
				<div class="content">
					<form method="POST" action=/login>

						<div class="user-details">

							<div class="input-box">
								<span class="details">Email</span>
								<input type="text" placeholder="Enter Email" id="email" name="email" required>
							</div>

							<div class="input-box">
								<span class="details">Aadhaar Number</span>
								<input type="text" placeholder="Enter Aadhaar Number" id="aadhaar_no" name="aadhaar_no" required>
							</div>

							<div class="input-box">
								<span class="details">Role</span>
								<select id="role" name="role" required>
									<option value="admin">Admin</option>
									<option value="institute">Institute</option>
									<option value="student">Student</option>
								</select>
							</div>
						</div>

						<div class="button">
							<input type="submit" onclick="password_reset()" value="Reset">
						</div>

						<div class="forgot-links">
							<a href="/login" class="green">Login</a>
							<a href="#" class="red">Forgot Username</a>
						</div>
					</form>
				</div>
			</div>
		</main>

    <footer>
		<img src="../static/img/smart_india_hackathon_2022_w.png" id="Smart_India_Hackathon_2022_img" alt="Smart India Hackathon 2022 Logo">
			<p>© 2024 Your Website. All Rights Reserved.</p>
			<!-- social links, Digital India , help, and support info -->
            <div class="footer-social">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/yourwebsite" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com/yourwebsite" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/yourwebsite" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/yourwebsite" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <ul>
                    <li><a href="mailto:help@iep.com">Email - help@iep.com </a></li>
                    <li><a href="tel:1234567890">Help Line No. - 1234567890</a></li>
                    <li><a href="https://www.digitalindia.gov.in" target="_blank">Digital India</a></li>
                </ul>
            </div>
		<img src="../static/img/digital_india_logo.png" id="Digital_India_img" alt="Digital India Logo">
    </footer>

	<script src="../static/js/script_password_reset.js"></script>

	</body>
</html>